PORT=3000
BASE_URL=http://localhost:3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=hassan
DATABASE_PASSWORD=password
DATABASE_NAME=ecommercedb
DATABASE_SSL=false
DATABASE_ENTITIES=dist/**/*.entity.{ts,js}
JWT_SECRET=super_secret_jwt_key_urbano
ADMIN_EMAIL=admin@challenge.com
ADMIN_PASSWORD=12345678
REDIS_HOST=localhost
REDIS_PORT=6379
